/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Estilos del encabezado */

header {
    background-color: #333;
    /* Color de fondo del encabezado */
    color: #fff;
    /* Color del texto */
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}


/* Estilos de la barra de navegación */

nav {
    background-color: #444;
    /* Color de fondo de la barra de navegación */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
    /* Espacio entre elementos de la barra de navegación */
}

nav a {
    text-decoration: none;
    color: #fff;
    /* Color del texto de los enlaces de navegación */
    font-weight: bold;
    transition: color 0.3s;
    /* Transición de color suave al pasar el ratón */
}

nav a:hover {
    color: #ff6600;
    /* Color cuando se pasa el ratón sobre el enlace */
}


/* Estilos del contenido principal */

main {
    padding: 20px;
}


/* Estilos del pie de página */

footer {
    background-color: #333;
    /* Color de fondo del pie de página */
    color: #fff;
    /* Color del texto del pie de página */
    text-align: center;
    padding: 10px;
}